<div class="container">
  <br/><br/><br/>

  <div class="row">
    <h6 class="col-4" style="text-decoration:underline">Find by name:</h6>
    <div class="col-5"><input type="texte" class="form-control" #value></div>
    <button class="col-3" (click)="showListe()">Search</button>  
  </div>
  <br />
  <ul *ngIf="afficherListe" >
    <h6 style="text-align:center">*** List of matricules with name ...***</h6>
    <br />
    
    <li *ngFor="let item of mat">{{item}}</li>
    <div style="text-align:right"><button (click)="afficherListe=false">Back</button></div>
  </ul>
</div>