<div class="container">
  <form #newCollegue="ngForm" class="was-validated" novalidate>

    <h2>Create a new sissy colleague !</h2>
    <hr/>
    <ul>
      <img src='{{newCol.photoUrl}}' width='200' heigth='200'>
      <br />
      <br />

      <div class="form-row">
        <div class="form-group">
          <label class="col-4 col-form-label">Name </label>
          <div class="col-12">
          <input name="name" type="texte" class="form-control is-valid" #name="ngModel" [(ngModel)]="newCol.name" required>
          <div class="invalid-feedback">Name is missing !</div>
          </div>
        </div>
     
        <div class="form-group">
          <label class="col-4 col-form-label">Firstname </label>
          <div class="col-12">
          <input name="firstname" type="texte" class="form-control is-valid" #firstname="ngModel" [(ngModel)]="newCol.firstname" required>
          <div class="invalid-feedback">Firstname is missing !</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label class="col-4 col-form-label">Birthdate </label>
          <div class="col-12">
          <input name="birthdate" type="date" class="form-control is-valid" #birthdate="ngModel" [(ngModel)]="newCol.birthdate" required>
          <div class="invalid-feedback">Birthdate is missing !</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-4 col-form-label">Email </label>
          <div class="col-12">
          <input name="email" type="texte" class="form-control is-valid" #email="ngModel" [(ngModel)]="newCol.email" required>
          <div class="invalid-feedback">Email is missing !</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-4 col-form-label">PhotoUrl </label>
        <div class="col-9">
        <input name="photoUrl" type="texte" class="form-control is-valid" #photoUrl="ngModel" [(ngModel)]="newCol.photoUrl" required>
        <div class="invalid-feedback">PhotoUrl is missing !</div>
        </div>
      </div>
      <div class="row">
        <button class="col-3" type="button" (click)="backButtonValue()">Back</button>
        <button class="col-3" type="button" (click)="createNewCollegue()" [disabled]="!newCollegue.valid">Create</button>
      </div>
      <p>{{backendMsg}}</p>

    </ul>

  </form>
</div>