<div class="container">
  <form #newCollegue="ngForm"  novalidate>

    <h2>Create a new sissy colleague !</h2>
    <hr/>
    <ul>
      <img src='{{newCol.photoUrl}}' width='200' heigth='200'>
      <br />
      <br />

      <div class="form-row">
        <div class="form-group">
          <label class="col-4 col-form-label">Name </label>
          <div class="col-12">
          <input [class.is-invalid]="name.invalid" [class.is-valid]="name.valid" name="name" type="texte" class="form-control" #name="ngModel" [(ngModel)]="newCol.name" required minlength="3">
          <div class="invalid-feedback">Name is missing !</div>
          </div>
        </div>
     
        <div class="form-group">
          <label class="col-4 col-form-label">Firstname </label>
          <div class="col-12">
          <input [class.is-invalid]="firstname.invalid" [class.is-valid]="firstname.valid" name="firstname" type="texte" class="form-control" #firstname="ngModel" [(ngModel)]="newCol.firstname" required minlength="3">
          <div class="invalid-feedback">Firstname is missing !</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label class="col-4 col-form-label">Birthdate </label>
          <div class="col-12">
          <input [class.is-invalid]="birthdate.invalid" [class.is-valid]="birthdate.valid" name="birthdate" type="date" class="form-control" #birthdate="ngModel" [(ngModel)]="newCol.birthdate" required>
          <div class="invalid-feedback">Birthdate is missing !</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-4 col-form-label">Email </label>
          <div class="col-12">
          <input [class.is-invalid]="email.invalid" [class.is-valid]="email.valid" name="email" type="texte" class="form-control" #email="ngModel" [(ngModel)]="newCol.email" required>
          <div class="invalid-feedback">Email is missing !</div>
          <div *ngIf="email.errors">{{email.errors |json}}</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-4 col-form-label">PhotoUrl </label>
        <div class="col-9">
        <input appUrlValidator [class.is-invalid]="photoUrl.invalid" [class.is-valid]="photoUrl.valid" name="photoUrl" type="texte" class="form-control" #photoUrl="ngModel" [(ngModel)]="newCol.photoUrl" required>
        
        <div class="invalid-feedback">PhotoUrl is missing !</div>
        <div *ngIf="photoUrl.errors && photoUrl.errors.urlError">{{photoUrl.errors |json}}</div>
        </div>
      </div>
      <div class="row">
        <button class="col-3" type="button" (click)="backButtonValue()">Back</button>
        <button class="col-3" type="button" (click)="createNewCollegue()" [disabled]="!newCollegue.valid">Create</button>
      </div>
      <p>{{backendMsg}}</p>

    </ul>

  </form>
</div>