<h2>So sssisssssy Colleague!</h2>
<hr/>
<ul>
  <img src='{{col.photoUrl}}' width='200' heigth='200'>
  <li>Matricule : {{col.matricule}}</li>
  <li>Name : {{col.name}}</li>
  <li>Firstname : {{col.firstname}}</li>
  <li>BirthDate : {{col.birthdate}}</li>
  <li>Email : {{col.email}}</li>
  <br/>
  <div class="row">
    <a class="col-3" href="" style="text-decoration: underline" (click)="createCollegue()">Créer un nouveau collègue</a>
    <button class="col-1" (click)="updateCollegue()">Modifier</button>
  </div>
</ul>

