<div name="colleguePresentation" *ngIf="createCollegueBoolean==false">
<div class="container">
  <form (ngSubmit)="submit()" #collegue="ngForm">

<h2 >So sssisssssy Colleague!</h2>
<hr/>
<ul>
  <img src='{{col.photoUrl}}' width='200' heigth='200'>
  <br /><br />

<div class="row">
  <div class="col-4">
    <p>Matricule : </p>
    <p>Name : </p>
    <p>Firstname : </p>
    <p>BirthDate : </p>
    <p [hidden]="updateCol">Email : </p>
    <p *ngIf="updateCol">Update Email: </p>
    <p *ngIf="updateCol">Update PhotoUrl : </p>
  </div>

  <div class="col-8">
    <small>{{col.matricule}}</small>
    <p>{{col.name | uppercase}}</p>
    <p>{{col.firstname}}</p>
    <p>{{col.birthdate | date: 'dd/MM/yyyy'}}</p>
    <p [hidden]="updateCol">{{col.email}}</p>
    <div *ngIf="updateCol">
      <input name="emailField" [(ngModel)]="col.email" type="texte" class="form-control" #emailField="ngModel" required>
      <p *ngIf="emailField.dirty && emailField.invalid">Email is missing !</p>
      <input name="photoField" [(ngModel)]="col.photoUrl" type="texte" class="form-control" #photoField="ngModel" required minlength="7">
      <p *ngIf="photoField.dirty && photoField.invalid">Photo-URL is missing !</p>
    </div> 
  </div>
</div>

  <br/>
  <div *ngIf="updateCol==true">
    <div class="row">
      <button type="submit" class="col-4" (click)="updateCollegueFonction()">OK</button>
  
      <button class="col-4" (click)="updateCol=false">Back</button>
    </div>
    <p>{{backendMsg}}</p>
  </div>
  <p *ngIf="responseFormIsOk==true && collegue.dirty && collegue.invalid">At list one field is missing !</p>

  <div class="row" [hidden]="updateCol">
    <div class="col-8">
      <button  class="btn btn-link" (click)="createCollegue()">Register a new colleague</button>
    </div>
    <button class="col-4" (click)="updateCollegue()">Update</button>
  </div>
  
</ul>

  </form>
</div>
</div>


<div name="createCollegue" *ngIf="createCollegueBoolean==true">
<app-create-collegue (createCollegueBoolean)="createCollegueBoolean=($event)"></app-create-collegue>
</div>