<div class="container">

<h2 >So sssisssssy Colleague!</h2>
<hr/>
<ul>
  <img src='{{col.photoUrl}}' width='200' heigth='200'>
  <br /><br />

<div class="row">
  <div class="col-4">
    <p>Matricule : </p>
    <p>Name : </p>
    <p>Firstname : </p>
    <p>BirthDate : </p>
    <p [hidden]="updateCol">Email : </p>
    <p *ngIf="updateCol">Update Email: </p>
    <p *ngIf="updateCol">Update PhotoUrl : </p>
  </div>

  <div class="col-8">
    <small>{{col.matricule}}</small>
    <p>{{col.name | uppercase}}</p>
    <p>{{col.firstname}}</p>
    <p>{{col.birthdate | date: 'dd/MM/yyyy'}}</p>
    <p [hidden]="updateCol">{{col.email}}</p>
    <input *ngIf="updateCol" type="texte" class="form-control" #value>
    <input *ngIf="updateCol" type="texte" class="form-control" #value>
  </div>
</div>

  <br/>
  <div class="row">
  <button class="col-4" *ngIf="updateCol" (click)="true">OK</button>
  <button class="col-4" *ngIf="updateCol" (click)="updateCol=false">Back</button>
  </div>

  <div class="row">
    <a [hidden]="updateCol" class="col-8" href="" style="text-decoration: underline" (click)="createCollegue()">Register a new colleague</a>
  
    <button class="col-4" (click)="updateCollegue()" [hidden]="updateCol">Update</button>
  </div>
  
</ul>


</div>